<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="HTML Template, site template, seo, marketing, creative, corporate, modern, multipurpose, one page, business, responsive, minimal, saas, startup">
    <meta name="author" content="LiquidThemes">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/images/common/og-image.jpg">
    <link rel="stylesheet" href="/vendors/liquid-icon/lqd-essentials/lqd-essentials.min.css">
    <link rel="stylesheet" href="/css/theme.min.css">
    <link rel="stylesheet" href="/css/utility.min.css">
    <link rel="stylesheet" href="/css/demo/start-hub-1/base.css">
    <link rel="stylesheet" href="/css/demo/start-hub-1/start-hub-1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link
        href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&amp;family=Nunito:wght@400;600;700&amp;family=Roboto&amp;display=swap"
        rel="stylesheet">
    <title>Start hub One</title>
</head>
<body data-lqd-cc="true" data-mobile-nav-breakpoint="1199" data-mobile-nav-style="minimal" data-mobile-nav-scheme="gray"
    data-mobile-nav-trigger-alignment="right" data-mobile-header-scheme="custom" data-mobile-logo-alignment="default"
    data-overlay-onmobile="true">

    <div id="wrap">
        <div class="lqd-sticky-placeholder hidden"></div>
        <header id="site-header" class="main-header main-header-overlay sticky-header-noshadow" data-sticky-header="true" data-sticky-values-measured="false">
            <section class="lqd-section mt-40 lg:mt-0 md:hidden">
                <div class="container p-0">
                    <div
                        class="w-full h-full flex items-center justify-between box-shadow-bottom transition-all pr-15 pl-5 rounded-6 bg-white">
                        <div class="w-auto flex">
                            <div class="module-logo flex navbar-brand-plain -ml-10 py-20 pl-30">
                                <a class="navbar-brand flex p-0 relative w-100" href="/"rel="home">
                                    <span class="navbar-brand-inner post-rel"><img width="100" src="/images/demo/start-hub-1/Logo_retina.png"alt="Start Hub One"></span></a>
                            </div>
                        </div>
                        <div class="w-auto flex mx-15">
                            <div class="module-primary-nav flex">
                                <div class="navbar-collapse inline-flex p-0 lqd-submenu-cover flex-grow-1 flex-shrink-1 overflow-visible h-auto"
                                    id="main-header-collapse" aria-expanded="false" role="navigation">
                                    <ul class="main-nav flex reset-ul inline-ul lqd-menu-counter-right lqd-menu-items-inline main-nav-hover-fade-inactive link-14 link-medium"
                                        data-submenu-options="{&quot;toggleType&quot;: &quot;fade&quot;, &quot;handler&quot;: &quot;mouse-in-out&quot;}"
                                        data-localscroll="true"
                                        data-localscroll-options="{&quot;itemsSelector&quot;:&quot;> li > a&quot;, &quot;trackWindowScroll&quot;: true, &quot;includeParentAsOffset&quot;: true}">
                                        <li><a class="text-darkgreen leading-30" href="/">About</a></li>
                                        <li><a class="text-darkgreen leading-30" href="/">Features <span class="link-icon inline-flex hide-if-empty right-icon"><i class="lqd-icn-ess icon-ion-ios-arrow-down"></i></span></a></li>
                                        <li><a class="text-darkgreen leading-30" href="/showproduct">Show Product</a></li> 
                                        <li><a class="text-darkgreen leading-30" href="/">How it works <span class="link-badge text-badge">New</span></a></li>
                                        <li><a class="text-darkgreen leading-30" href="/addproduct">Add Product</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="w-auto flex -mr-5 ml-20 lg:hidden"><a href="#contact-modal"
                                class="btn btn-solid btn-hover-txt-marquee btn-hover-txt-marquee-y btn-icon-right text-14 font-medium rounded-6 leading-30 bg-blue-200 text-blue-900 module-btn-sm"
                                data-lity="#contact-modal"><span class="btn-txt" data-text="Join the Community"
                                    data-split-text="true"
                                    data-split-options="{&quot;type&quot;: &quot;chars, words&quot;}">Join the
                                    Community</span> <span class="btn-icon m-0"><i aria-hidden="true"
                                        class="lqd-icn-ess icon-ion-ios-add"></i></span></a></div>
                    </div>
                </div>
            </section>
            <section class="lqd-section lqd-stickybar-wrap lqd-stickybar-right pointer-events-none md:hidden"
                data-custom-animations="true"
                data-ca-options="{&quot;animationTarget&quot;: &quot;.animation-element&quot;, &quot;ease&quot;: &quot;power4.out&quot;, &quot;initValues&quot;:{&quot;opacity&quot;:0} , &quot;animations&quot;:{&quot;opacity&quot;:1}}">
                <div class="container">
                    <div class="w-full h-full flex flex-col justify-between items-center p-10">
                        <div class="spacer w-full">
                            <div class="spacer-inner"></div>
                        </div>
                        <div class="lqd-scrl-indc flex whitespace-nowrap lqd-scrl-indc-style-dot vertical-lr -rotate-180 animation-element"
                            data-lqd-scroll-indicator="true"><a class="pointer-events-auto text-black" href="#wrap"
                                data-localscroll="true" data-lqd-interactive-color="true"><span
                                    class="lqd-scrl-indc-inner flex items-center"><span
                                        class="lqd-scrl-indc-txt">scroll</span> <span
                                        class="lqd-scrl-indc-line flex-grow-1 relative bg-black-20"><span
                                            class="lqd-scrl-indc-el inline-block absolute rounded-4"></span></span></span></a>
                        </div>
                        <div class="pl-20 -rotate-90"><a href="#modal-mini"
                                class="btn btn-solid btn-icon-right rounded-full pointer-events-auto text-white bg-primary module-btn-circle"
                                data-lity="#modal-mini" data-lqd-interactive-color="true"><span
                                    class="btn-icon rotate-90"><svg xmlns="http://www.w3.org/2000/svg" height="1em"
                                        viewBox="0 0 512 512" fill="currentColor">
                                        <path
                                            d="M512 240c0 114.9-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3 30.6C73.6 471.1 44.7 480 16 480c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4l0 0 0 0 0 0 0 0 .3-.3c.3-.3 .7-.7 1.3-1.4c1.1-1.2 2.8-3.1 4.9-5.7c4.1-5 9.6-12.4 15.2-21.6c10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208z">
                                        </path>
                                    </svg></span></a></div>
                    </div>
                </div>
            </section>
            <section class="lqd-section lqd-stickybar-wrap lqd-stickybar-left pointer-events-none md:hidden"
                data-custom-animations="true"
                data-ca-options="{&quot;animationTarget&quot;: &quot;.animation-element&quot;, &quot;ease&quot;: &quot;power4.out&quot;, &quot;initValues&quot;:{&quot;opacity&quot;:0} , &quot;animations&quot;:{&quot;opacity&quot;:1}}">
                <div class="container">
                    <div
                        class="w-full h-full flex justify-center items-center vertical-lr -rotate-180 pt-20 animation-element">
                        <a href="#download"
                            class="btn btn-naked text-black font-medium tracking-0/5 text-14 pointer-events-auto hover:text-black"
                            data-lqd-interactive-color="true" data-localscroll="true"><span class="btn-txt"
                                data-text="Download Hub App">Download Hub App</span></a></div>
                </div>
            </section>
            <div class="lqd-mobile-sec relative">
                <div class="lqd-mobile-sec-inner navbar-header flex items-stretch w-full bg-white">
                    <div class="lqd-mobile-modules-container empty"></div><button type="button"
                        class="p-0 navbar-toggle collapsed nav-trigger style-mobile flex relative items-center justify-end border-none bg-transparent"
                        data-ld-toggle="true" data-bs-toggle="collapse" data-bs-target="#lqd-mobile-sec-nav"
                        aria-expanded="false"
                        data-toggle-options="{ &quot;changeClassnames&quot;: {&quot;html&quot;: &quot;mobile-nav-activated&quot;} }"><span
                            class="sr-only">Menu</span> <span class="bars inline-block relative z-1"><span
                                class="bars-inner flex flex-col w-full h-full"><span class="bar inline-block"></span>
                                <span class="bar inline-block"></span> <span
                                    class="bar inline-block"></span></span></span></button> <a
                        class="navbar-brand flex relative py-20 w-100" href="./"><span
                            class="navbar-brand-inner -mr-20"><img width="100"
                                src="/public/images/demo/start-hub-1/logo.png" alt="Start Hub One"></span></a>
                </div>
                <div class="lqd-mobile-sec-nav w-full absolute z-10">
                    <div class="mobile-navbar-collapse navbar-collapse collapse w-full" id="lqd-mobile-sec-nav"
                        aria-expanded="false" role="navigation">
                        <ul id="mobile-primary-nav" class="reset-ul lqd-mobile-main-nav main-nav nav"
                            data-localscroll="true"
                            data-localscroll-options="{&quot;itemsSelector&quot;:&quot;> li > a&quot;, &quot;trackWindowScroll&quot;: true, &quot;includeParentAsOffset&quot;: true}">
                            <li><a href="#about">About</a></li>
                            <li><a href="#features">Features <span
                                        class="link-icon inline-flex hide-if-empty right-icon"><i
                                            class="lqd-icn-ess icon-ion-ios-arrow-down"></i></span></a></li>
                            <li><a href="/">Pricing</a></li>
                            <li><a href="#how-it-work">How it works<span class="link-badge text-badge">New</span></a>
                            </li>
                            <li><a href="/">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>